
/* Contenedor principal */

.about{
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background: var(--color-dark);
    background-image: url("src/assets/ttten.svg");
    background-position: center;
    background-size: cover;
}


/* contenedor de columnas */

.about div{
    display: flex;
    flex-direction: row;
    margin: 0 10rem;
    gap: 2rem;
}

/* Titulo y subtitulo */

.about section{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.5rem;
}

.about section h2{
    font-family: var(--font-family);
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0.9rem;
}

.about section p{
    font-family: var(--font-family);
    color: var(--color-orange);
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Parrafos */

.about article{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about article p{
    font-family: var(--font-alt);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 29px;
    text-align: justify;
    text-align-last: left;
    padding: 1rem;
    max-width: 580px;
}



/* Codigo adaptable para dispositivos mobiles */

@media screen and (max-width: 1450px){

    .about div{
        margin: 0 7rem;
    }

    .about section h2{
        font-size: 2.2rem;
    }

    .about section p{
        font-size: 1.5rem;
    }

    .about article p{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1250px){

    .about div{
        margin: 0 6rem;
    }

    .about section h2{
        font-size: 2rem;
    }

    .about section p{
        font-size: 1.2rem;
    }

    .about article p{
        font-size: 1rem;
        max-width: 500px;
    }
}

@media screen and (max-width: 1050px){

    .about div{
        margin: 0 2rem;
    }

    .about section h2{
        font-size: 1.8rem;
    }

    .about section p{
        font-size: 1rem;
    }
    .about article p{
        font-size: 1rem;
        max-width: 500px;
    }
}

@media screen and (max-width: 800px){

    .about div{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .about section{
        width: 100%;
        align-items: center;
    }

    .about article {
        width: 100%;
        align-items: center;
    }



}

@media screen and (max-width: 600px){

    .about div{
        margin: 5rem 0.5rem;
    }
    .about article p{
        text-align: justify;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 480px){
    .about article p{
        font-size: 0.9rem;
    }
}

